# Ignore configuration files that may contain sensitive information.
/vendor/

# Ignor composer working files
composer.lock

# Ignor testing working files
tests/phpunit.xml

# Ignor OSX system files
.DS_Store
.idea
